<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
    <title>BeagleBone Black Dashboard</title>
</head>
<body>
<h1>BeagleBone Black Dashboard</h1>

<table style="width:100%">
    <tr>
        <th>Host Name</th>
        <th>IP</th>
        <th>Status</th>
        <th>
            Last updating Time
        </th>
    </tr>
    {% for host in iter(hosts_info) %}
    <tr>
        <td>{{ hosts_info.get(host)[0] }}</td>
        <td>{{ hosts_info.get(host)[1] }}</td>
        <td>{{ hosts_info.get(host)[2] }}</td>
        <td>{{ hosts_info.get(host)[3] }}</td>
    </tr>
    {% end %}
</table>
</body>
</html>
