<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ static_url("style.css") }}">
	<title>BeagleBone Black Dashboard</title>
</head>
<body>
<h1>BeagleBone Black Dashboard</h1>

<table style="width:100%">
  <tr>
    <th>Host Name</th>
    <th>IP</th> 
    <th>Status</th>
    <th>
    	Last updating Time
    </th>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>
<form method="post" action="/poem">
	<p>Source text<br>
		<textarea rows=4 cols=55 name="source"></textarea></p>

	<p>Text for replacement<br>
		<textarea rows=4 cols=55 name="change"></textarea></p>
	<input type="submit">
</form>

</body>
</html>
